#App {
  width: 100vw;
  height: 100vh;
}

#Page-Container {
  position: relative;
  background: #222;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

#Page-Wrapper {
  position: relative;
  top: 0;
  width: 10000px;
}

#Page-Wrapper.shifting {
  transition: left 0.3s ease-out;
}

.page {
  width: 100vw;
  height: 100vh;
  border: 3px solid yellow;
  background: powderblue;
  color: white;
  float: left;
  /* transition: all 1s; */
  position: relative;
}
