@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap");
@import "./weather-icons.css";
@import "./loader.css";
@import "./page.css";
@import "./CurrentWeather.css";
@import "./MainWeather.css";
@import "./addrSearch.css";
@import "./SharePage.css";
@import "./themeToggleBtn.css";

:root {
  --white-color: #fbfbfc;
  --text-color: #fbfbfc;
  --a-color: #454545;
  --add-background-color: #eef2f7;
  --add-border-color: #346ca3;
  --add-text-color: #595959;
  --add-header-text-color: #595959;
  --page-background: #e0a0a0;
  --page-container-background: #333;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --page-background: #333;
    --page-container-background: #e0a0a0;
    --add-border-color: #000;
    --add-background-color: #333;
    --add-header-text-color: #fbfbfc;
  }
}

:root[data-theme="dark"] {
  --page-background: #333;
  --page-container-background: #e0a0a0;
  --add-border-color: #000;
  --add-background-color: #333;
  --add-header-text-color: #fbfbfc;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
